.skill-box {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background: #293340;
    padding: 10px 15px;
    border-radius: 3px;
    color: #f6faf6;
    margin: 5px;
}
.skill
.box-well {
    display: inline-block;
    height: 20px;
    width: 100px;
    background: #9fbf2a;
    vertical-align: middle;
    border-radius: 3px;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    line-height: 20px;
}
@media screen and (max-width: 500px){
    .skill-box {
        width: 100%;
        max-width: 250px;
    }
    .box-well{
        text-align: justify;
    }
}


